In [1]:
import geopandas as gpd
import pandas as pd
import numpy as np
from shapely.geometry import Point
import matplotlib.pyplot as plt
%matplotlib inline

In [51]:
df = pd.read_csv('yellow_tripdata_2015-05.csv')

In [4]:
taxi = pd.concat(frames)

In [7]:
taxi.to_csv('sum_yellow_tripdata.csv', index=False)

In [6]:
taxi.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-04-27 15:16:29,2015-04-27 15:26:14,1,1.05,-73.988869,40.758396,1,N,-73.984779,40.748272,2,7.5,0.0,0.5,0.00,0.0,0.3,8.30
1,2,2015-04-27 15:16:29,2015-04-27 15:25:03,1,2.67,-74.008568,40.704479,1,N,-73.978271,40.720543,1,10.5,0.0,0.5,1.00,0.0,0.3,12.30
2,2,2015-04-27 15:16:29,2015-04-27 15:31:48,1,2.89,-73.994118,40.756432,1,N,-73.993263,40.724442,1,12.5,0.0,0.5,3.32,0.0,0.3,16.62
3,2,2015-04-27 15:16:29,2015-04-27 15:25:26,1,0.94,-73.974388,40.761665,1,N,-73.985542,40.756168,2,7.5,0.0,0.5,0.00,0.0,0.3,8.30
4,2,2015-04-27 15:16:29,2015-04-27 15:45:38,1,2.30,-73.972183,40.762726,1,N,-73.990845,40.750671,2,17.5,0.0,0.5,0.00,0.0,0.3,18.30

In [8]:
uber = pd.read_csv('uber-raw-data-janjune-15.csv')

In [12]:
uber['datetime'] = pd.to_datetime(uber.Pickup_date)

In [18]:
uber.head(10)

,Dispatching_base_num,Pickup_date,Affiliated_base_num,locationID,datetime
0,B02617,2015-05-17 09:47:00,B02617,141,2015-05-17 09:47:00
1,B02617,2015-05-17 09:47:00,B02617,65,2015-05-17 09:47:00
2,B02617,2015-05-17 09:47:00,B02617,100,2015-05-17 09:47:00
3,B02617,2015-05-17 09:47:00,B02774,80,2015-05-17 09:47:00
4,B02617,2015-05-17 09:47:00,B02617,90,2015-05-17 09:47:00
5,B02617,2015-05-17 09:47:00,B02617,228,2015-05-17 09:47:00
6,B02617,2015-05-17 09:47:00,B02617,7,2015-05-17 09:47:00
7,B02617,2015-05-17 09:47:00,B02764,74,2015-05-17 09:47:00
8,B02617,2015-05-17 09:47:00,B02617,249,2015-05-17 09:47:00
9,B02617,2015-05-17 09:47:00,B02764,22,2015-05-17 09:47:00

In [20]:
uber['month'] = uber.datetime.dt.month

In [21]:
uber.month.unique()

array([5, 1, 3, 2, 6, 4])

In [22]:
may_uber = uber[uber.month == 5]

In [25]:
taxi_lookup = pd.read_csv('taxi-zone-lookup.csv')

In [29]:
taxi_lookup.shape

(265, 3)

In [27]:
may_uber.head()

,Dispatching_base_num,Pickup_date,Affiliated_base_num,locationID,datetime,month
0,B02617,2015-05-17 09:47:00,B02617,141,2015-05-17 09:47:00,5
1,B02617,2015-05-17 09:47:00,B02617,65,2015-05-17 09:47:00,5
2,B02617,2015-05-17 09:47:00,B02617,100,2015-05-17 09:47:00,5
3,B02617,2015-05-17 09:47:00,B02774,80,2015-05-17 09:47:00,5
4,B02617,2015-05-17 09:47:00,B02617,90,2015-05-17 09:47:00,5

In [32]:
may_uber.locationID.unique()

array([141,  65, 100,  80,  90, 228,   7,  74, 249,  22, 263,  61, 229,
       164, 237, 142, 188, 224, 238, 242,  95, 236, 233, 230, 162, 234,
       161,  87, 246, 186,  48, 158, 137, 135, 145, 231, 125, 132, 170,
       239,  41, 148,  79, 113,  68, 147, 255, 256, 181, 138, 166, 174,
        62,  75, 143,  37,  33,  50,  17, 226,  28,  70, 235, 247, 244,
        89, 112, 140,  42,  36,  94, 163,  20,  88,  64,   4, 153, 114,
       225, 209, 144, 146,  69,  97,  29, 129,  43, 107,  85, 179,  25,
        14, 262,  82, 106, 232, 151, 261, 189, 149, 250,  55, 243,  49,
        45, 211,  39,  66, 169, 223, 227, 131, 182, 197, 108,  10, 184,
       203, 168, 123, 216, 260, 219,  76, 257, 251, 133,  92,  56, 258,
        13, 192,  71, 220, 213, 196, 248,  63, 200, 127, 175,  52, 111,
        67,  73, 191, 118,  54, 180, 254,  27,  26, 152, 193, 212, 121,
       259,   8, 245, 116, 190, 171, 195,  32, 157, 102, 178, 134, 159,
        40, 252,  21,  15, 185,  34, 183, 154,  93, 130, 218, 167, 173,
       177,  18,  51,  24,  72, 165,  16, 210,  60,  77, 208, 160, 198,
       119,  53, 117,  35, 202, 205,  11,  38,  81,   6,  86,  23,  57,
        91, 155, 265,  58,  12, 217,  31,  78, 207, 241, 136, 194, 215,
       253,  98, 126,  47, 150, 240,  19, 101,  83, 124,   3, 122, 139,
         9, 128,  30, 221, 120, 222, 172, 214,   1,  96, 156, 176, 201,
       206,  46, 115, 187, 105, 204, 109,  59,   5,  84, 264,  44,  99,   2])

LocationID     int64
Borough       object
Zone          object
dtype: object

In [36]:
result = pd.merge(may_uber, taxi_lookup, left_on='locationID', how='left', right_index=True)

In [37]:
result.shape

(2695553, 9)

In [38]:
df2.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2015-05-05 23:37:40,2015-05-05 23:45:41,1,2.00,-74.001678,40.739311,1,N,-73.978294,40.752110,2,8.5,0.5,0.5,0.00,0.0,0.3,9.80
1,2,2015-05-05 23:37:40,2015-05-05 23:40:36,1,0.54,-73.930840,40.744789,1,N,-73.937515,40.749359,2,4.5,0.5,0.5,0.00,0.0,0.3,5.80
2,2,2015-05-05 23:37:40,2015-05-05 23:44:03,3,2.10,-74.001411,40.731087,1,N,-73.981674,40.758282,2,8.0,0.5,0.5,0.00,0.0,0.3,9.30
3,2,2015-05-05 23:37:40,2015-05-06 00:14:01,6,10.93,-73.970673,40.758560,1,N,-73.933762,40.670544,1,36.0,0.5,0.5,9.32,0.0,0.3,46.62
4,2,2015-05-05 23:37:40,2015-05-05 23:46:03,5,0.93,-73.986732,40.755878,1,N,-73.990959,40.749981,1,7.0,0.5,0.5,2.49,0.0,0.3,10.79

In [40]:
zones = gpd.read_file('taxi_zones.shp')

In [42]:
zones.crs

{'datum': 'NAD83',
 'lat_0': 40.16666666666666,
 'lat_1': 40.66666666666666,
 'lat_2': 41.03333333333333,
 'lon_0': -74,
 'no_defs': True,
 'proj': 'lcc',
 'units': 'us-ft',
 'x_0': 300000,
 'y_0': 0}

In [43]:
zones.head()

,OBJECTID,Shape_Leng,Shape_Area,zone,LocationID,borough,geometry
0,1,0.116357,0.000782,Newark Airport,1,EWR,"POLYGON ((933100.9183527103 192536.0856972019,..."
1,2,0.433470,0.004866,Jamaica Bay,2,Queens,"(POLYGON ((1033269.243591294 172126.0078125, 1..."
2,3,0.084341,0.000314,Allerton/Pelham Gardens,3,Bronx,"POLYGON ((1026308.769506663 256767.6975403726,..."
3,4,0.043567,0.000112,Alphabet City,4,Manhattan,"POLYGON ((992073.4667968601 203714.0759887695,..."
4,5,0.092146,0.000498,Arden Heights,5,Staten Island,"POLYGON ((935843.3104932606 144283.335850656, ..."

In [53]:
geometry = list(zip(df['pickup_longitude'], df['pickup_latitude']))

In [55]:
geometry = [Point(x) for x in geometry]

In [57]:
crs = {'init': 'epsg:4326'}
df = df.drop(['pickup_longitude','pickup_latitude'], axis=1)
taxi_gdf = gpd.GeoDataFrame(df, crs=crs, geometry=geometry)

In [62]:
zones = zones.to_crs({'init': 'epsg:4326'})

In [63]:
taxi_results = gpd.sjoin(taxi_gdf, zones, how='left', op='intersects')

In [64]:
taxi_results.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,...,improvement_surcharge,total_amount,geometry,index_right,OBJECTID,Shape_Leng,Shape_Area,zone,LocationID,borough
0,1,2015-05-05 23:37:40,2015-05-05 23:45:41,1,2.00,1,N,-73.978294,40.752110,2,...,0.3,9.80,POINT (-74.00167846679686 40.73931121826172),248.0,249.0,0.036384,0.000072,West Village,249.0,Manhattan
1,2,2015-05-05 23:37:40,2015-05-05 23:40:36,1,0.54,1,N,-73.937515,40.749359,2,...,0.3,5.80,POINT (-73.93083953857422 40.74478912353516),225.0,226.0,0.168958,0.000762,Sunnyside,226.0,Queens
2,2,2015-05-05 23:37:40,2015-05-05 23:44:03,3,2.10,1,N,-73.981674,40.758282,2,...,0.3,9.30,POINT (-74.0014114379883 40.73108673095703),248.0,249.0,0.036384,0.000072,West Village,249.0,Manhattan
3,2,2015-05-05 23:37:40,2015-05-06 00:14:01,6,10.93,1,N,-73.933762,40.670544,1,...,0.3,46.62,POINT (-73.97067260742188 40.75856018066406),161.0,162.0,0.035270,0.000048,Midtown East,162.0,Manhattan
4,2,2015-05-05 23:37:40,2015-05-05 23:46:03,5,0.93,1,N,-73.990959,40.749981,1,...,0.3,10.79,POINT (-73.98673248291014 40.75587844848633),99.0,100.0,0.024813,0.000037,Garment District,100.0,Manhattan

In [65]:
taxi_results.to_csv('taxi_output.csv', index=False)

In [67]:
taxi_results2 = pd.DataFrame(taxi_results.drop(['geometry', 'index_right','OBJECTID'],axis=1))

In [68]:
taxi_results2.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,...,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,Shape_Leng,Shape_Area,zone,LocationID,borough
0,1,2015-05-05 23:37:40,2015-05-05 23:45:41,1,2.00,1,N,-73.978294,40.752110,2,...,0.5,0.00,0.0,0.3,9.80,0.036384,0.000072,West Village,249.0,Manhattan
1,2,2015-05-05 23:37:40,2015-05-05 23:40:36,1,0.54,1,N,-73.937515,40.749359,2,...,0.5,0.00,0.0,0.3,5.80,0.168958,0.000762,Sunnyside,226.0,Queens
2,2,2015-05-05 23:37:40,2015-05-05 23:44:03,3,2.10,1,N,-73.981674,40.758282,2,...,0.5,0.00,0.0,0.3,9.30,0.036384,0.000072,West Village,249.0,Manhattan
3,2,2015-05-05 23:37:40,2015-05-06 00:14:01,6,10.93,1,N,-73.933762,40.670544,1,...,0.5,9.32,0.0,0.3,46.62,0.035270,0.000048,Midtown East,162.0,Manhattan
4,2,2015-05-05 23:37:40,2015-05-05 23:46:03,5,0.93,1,N,-73.990959,40.749981,1,...,0.5,2.49,0.0,0.3,10.79,0.024813,0.000037,Garment District,100.0,Manhattan

In [70]:
taxi_results2[taxi_results2.borough == 'Manhattan']

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,...,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,Shape_Leng,Shape_Area,zone,LocationID,borough
0,1,2015-05-05 23:37:40,2015-05-05 23:45:41,1,2.00,1,N,-73.978294,40.752110,2,...,0.5,0.00,0.00,0.3,9.80,0.036384,0.000072,West Village,249.0,Manhattan
2,2,2015-05-05 23:37:40,2015-05-05 23:44:03,3,2.10,1,N,-73.981674,40.758282,2,...,0.5,0.00,0.00,0.3,9.30,0.036384,0.000072,West Village,249.0,Manhattan
3,2,2015-05-05 23:37:40,2015-05-06 00:14:01,6,10.93,1,N,-73.933762,40.670544,1,...,0.5,9.32,0.00,0.3,46.62,0.035270,0.000048,Midtown East,162.0,Manhattan
4,2,2015-05-05 23:37:40,2015-05-05 23:46:03,5,0.93,1,N,-73.990959,40.749981,1,...,0.5,2.49,0.00,0.3,10.79,0.024813,0.000037,Garment District,100.0,Manhattan
5,1,2015-05-05 23:37:41,2015-05-05 23:50:34,3,2.40,1,N,-73.979584,40.735363,2,...,0.5,0.00,0.00,0.3,12.30,0.024813,0.000037,Garment District,100.0,Manhattan
6,1,2015-05-05 23:37:42,2015-05-05 23:41:51,1,1.30,1,N,-73.941338,40.788120,2,...,0.5,0.00,0.00,0.3,7.30,0.044252,0.000103,Upper East Side North,236.0,Manhattan
7,2,2015-05-05 23:37:42,2015-05-05 23:53:25,1,3.70,1,N,-73.960396,40.775631,1,...,0.5,3.26,0.00,0.3,19.56,0.032745,0.000058,Greenwich Village North,113.0,Manhattan
8,2,2015-05-05 23:37:42,2015-05-05 23:52:53,2,7.84,1,N,-73.873169,40.723091,1,...,0.5,6.07,5.54,0.3,36.41,0.036072,0.000073,Union Sq,234.0,Manhattan
9,2,2015-05-05 23:37:42,2015-05-05 23:48:25,3,2.36,1,N,-73.998528,40.717003,2,...,0.5,0.00,0.00,0.3,11.30,0.036072,0.000073,Union Sq,234.0,Manhattan
10,2,2015-05-05 23:37:42,2015-05-05 23:41:37,1,1.35,1,N,-73.980652,40.742249,2,...,0.5,0.00,0.00,0.3,7.30,0.035270,0.000048,Midtown East,162.0,Manhattan
11,1,2015-05-05 23:37:43,2015-05-05 23:42:23,1,1.30,1,N,-73.978920,40.713619,1,...,0.5,1.45,0.00,0.3,8.75,0.043567,0.000112,Alphabet City,4.0,Manhattan
12,1,2015-05-05 23:37:43,2015-05-05 23:49:51,2,4.70,1,N,-74.006165,40.707947,1,...,0.5,3.36,0.00,0.3,20.16,0.045769,0.000074,Murray Hill,170.0,Manhattan
14,1,2015-05-05 23:37:43,2015-05-05 23:45:51,2,2.20,1,N,-73.989784,40.775887,1,...,0.5,1.00,0.00,0.3,11.30,0.054890,0.000129,Manhattan Valley,151.0,Manhattan
15,2,2015-05-05 23:37:43,2015-05-05 23:50:33,3,3.59,1,N,-73.963524,40.774357,1,...,0.5,3.58,0.00,0.3,17.88,0.042625,0.000108,East Village,79.0,Manhattan
18,2,2015-05-05 23:37:43,2015-05-05 23:51:22,1,2.50,1,N,-73.949577,40.785343,2,...,0.5,0.00,0.00,0.3,13.80,0.035270,0.000048,Midtown East,162.0,Manhattan
19,1,2015-05-05 23:37:44,2015-05-05 23:57:01,2,2.80,1,N,-73.994186,40.703239,1,...,0.5,3.05,0.00,0.3,18.35,0.039131,0.000070,Lower East Side,148.0,Manhattan
20,1,2015-05-05 23:37:44,2015-05-05 23:51:46,1,3.20,1,N,-73.991066,40.727680,1,...,0.5,2.75,0.00,0.3,16.55,0.043747,0.000094,Clinton East,48.0,Manhattan
21,2,2015-05-05 23:37:44,2015-05-05 23:43:06,1,1.39,1,N,-73.960373,40.761742,2,...,0.5,0.00,0.00,0.3,7.30,0.037017,0.000066,Yorkville West,263.0,Manhattan
22,2,2015-05-24 15:38:34,2015-05-24 16:04:05,1,5.25,1,N,-73.940079,40.797821,1,...,0.5,4.26,0.00,0.3,25.56,0.049337,0.000111,East Chelsea,68.0,Manhattan
23,2,2015-05-24 15:38:34,2015-05-24 15:43:17,5,0.76,1,N,-73.982658,40.723282,1,...,0.5,0.00,0.00,0.3,6.30,0.039131,0.000070,Lower East Side,148.0,Manhattan
24,2,2015-05-24 15:38:34,2015-05-24 15:43:55,1,1.21,1,N,-73.952652,40.791451,2,...,0.5,0.00,0.00,0.3,6.80,0.110291,0.000295,East Harlem North,74.0,Manhattan
26,1,2015-05-24 15:38:35,2015-05-24 15:57:56,3,6.00,1,N,-73.973122,40.764107,1,...,0.5,4.35,0.00,0.3,26.15,0.036902,0.000067,Financial District North,87.0,Manhattan
27,1,2015-05-24 15:38:35,2015-05-24 15:43:33,1,0.50,1,N,-73.985870,40.750420,2,...,0.5,0.00,0.00,0.3,5.80,0.024696,0.000037,Penn Station/Madison Sq West,186.0,Manhattan
28,1,2015-05-24 15:38:35,2015-05-24 15:54:36,3,6.00,1,N,-73.977341,40.757854,2,...,0.5,0.00,0.00,0.3,20.30,0.035205,0.000057,Financial District South,88.0,Manhattan
29,2,2015-05-24 15:38:35,2015-05-24 15:52:26,1,4.36,1,N,-73.981430,40.780010,2,...,0.5,0.00,0.00,0.3,15.80,0.049732,0.000076,Hudson Sq,125.0,Manhattan
30,2,2015-05-24 15:38:35,2015-05-24 15:50:36,5,2.80,1,N,-73.992676,40.755806,1,...,0.5,2.46,0.00,0.3,14.76,0.063626,0.000205,Upper West Side South,239.0,Manhattan
31,1,2015-05-24 15:38:36,2015-05-24 15:40:29,1,0.40,1,N,-74.004517,40.719467,1,...,0.5,1.00,0.00,0.3,5.80,0.063420,0.000167,TriBeCa/Civic Center,231.0,Manhattan
32,1,2015-05-24 15:38:36,2015-05-24 15:50:33,2,3.90,1,N,-74.008492,40.713387,1,...,0.5,2.95,0.00,0.3,17.75,0.044020,0.000098,Stuy Town/Peter Cooper Village,224.0,Manhattan
33,2,2015-05-24 15:38:36,2015-05-24 15:56:17,1,7.02,1,N,-74.013474,40.709408,2,...,0.5,0.00,0.00,0.3,22.80,0.031028,0.000056,Times Sq/Theatre District,230.0,Manhattan
34,2,2015-05-24 15:38:36,2015-05-24 15:54:19,1,2.99,1,N,-73.957787,40.779289,2,...,0.5,0.00,0.00,0.3,14.30,0.024696,0.000037,Penn Station/Madison Sq West,186.0,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13158230,2,2015-05-21 19:43:28,2015-05-21 19:57:43,1,1.20,1,N,-73.989471,40.716141,1,...,0.5,2.36,0.00,0.3,14.16,0.025235,0.000040,SoHo,211.0,Manhattan
13158232,1,2015-05-21 19:43:29,2015-05-21 19:53:00,2,1.70,1,N,-73.979477,40.783985,2,...,0.5,0.00,0.00,0.3,10.30,0.049064,0.000122,Yorkville East,262.0,Manhattan
13158233,1,2015-05-21 19:43:29,2015-05-21 20:07:29,1,1.50,1,N,-73.985916,40.750126,1,...,0.5,3.25,0.00,0.3,19.55,0.035804,0.000072,Midtown Center,161.0,Manhattan
13158234,1,2015-05-21 19:43:29,2015-05-21 19:56:39,1,1.90,1,N,-73.983269,40.767529,1,...,0.5,2.95,0.00,0.3,14.75,0.099739,0.000380,Central Park,43.0,Manhattan
13158235,2,2015-05-21 19:43:29,2015-05-21 20:03:44,6,2.90,1,N,-73.994530,40.722172,1,...,0.5,3.26,0.00,0.3,19.56,0.024813,0.000037,Garment District,100.0,Manhattan
13158236,2,2015-05-21 19:43:29,2015-05-21 19:45:39,1,0.37,1,N,-73.988869,40.731380,2,...,0.5,0.00,0.00,0.3,5.30,0.042625,0.000108,East Village,79.0,Manhattan
13158237,1,2015-05-21 19:43:30,2015-05-21 19:57:57,1,2.60,1,N,-73.972038,40.792301,2,...,0.5,0.00,0.00,0.3,13.80,0.047584,0.000114,Lenox Hill East,140.0,Manhattan
13158238,1,2015-05-21 19:43:30,2015-05-21 19:47:42,1,0.80,1,N,-73.968613,40.764729,1,...,0.5,2.15,0.00,0.3,9.45,0.044252,0.000103,Upper East Side North,236.0,Manhattan
13158239,1,2015-05-21 19:43:30,2015-05-21 20:00:29,1,2.10,1,N,-73.978142,40.761890,2,...,0.5,0.00,0.00,0.3,14.30,0.038041,0.000075,Gramercy,107.0,Manhattan
13158240,1,2015-05-21 19:53:11,2015-05-21 19:59:33,1,1.20,1,N,-73.962212,40.775425,1,...,0.5,1.65,0.00,0.3,9.95,0.099739,0.000380,Central Park,43.0,Manhattan
13158241,1,2015-05-21 19:53:11,2015-05-21 19:57:37,1,1.10,1,N,-73.955513,40.772861,1,...,0.5,1.45,0.00,0.3,8.75,0.041514,0.000077,Lenox Hill West,141.0,Manhattan
13158243,1,2015-05-21 19:53:11,2015-05-21 19:55:31,1,0.30,1,N,-73.952759,40.772575,2,...,0.5,0.00,0.00,0.3,5.80,0.049064,0.000122,Yorkville East,262.0,Manhattan
13158244,1,2015-05-21 19:53:11,2015-05-21 19:56:29,1,0.70,1,N,-73.956001,40.776192,1,...,0.5,1.26,0.00,0.3,7.56,0.042213,0.000096,Upper East Side South,237.0,Manhattan
13158245,1,2015-05-21 19:53:11,2015-05-21 19:56:34,1,0.70,1,N,-73.980423,40.743305,2,...,0.5,0.00,0.00,0.3,6.30,0.035270,0.000048,Midtown East,162.0,Manhattan
13158246,1,2015-05-21 19:53:11,2015-05-21 20:16:20,1,5.90,1,N,-73.967453,40.793758,1,...,0.5,4.55,0.00,0.3,27.35,0.036072,0.000073,Union Sq,234.0,Manhattan
13158247,2,2015-05-21 19:53:11,2015-05-21 20:19:59,2,13.82,1,N,-73.898430,40.898487,1,...,0.5,9.95,0.00,0.3,49.75,0.038041,0.000075,Gramercy,107.0,Manhattan
13158248,2,2015-05-21 19:53:11,2015-05-21 20:02:51,1,0.95,1,N,-73.984718,40.751293,1,...,0.5,1.86,0.00,0.3,11.16,0.048036,0.000116,UN/Turtle Bay South,233.0,Manhattan
13158249,2,2015-05-21 19:53:11,2015-05-21 20:05:18,1,2.23,1,N,-73.967560,40.792850,1,...,0.5,2.20,0.00,0.3,14.50,0.038176,0.000076,Lincoln Square East,142.0,Manhattan
13158250,2,2015-05-21 19:53:11,2015-05-21 20:10:16,1,1.69,1,N,-74.001915,40.732231,1,...,0.5,1.00,0.00,0.3,14.30,0.036072,0.000073,Union Sq,234.0,Manhattan
13158251,2,2015-05-21 19:53:11,2015-05-21 19:58:13,1,1.57,1,N,-74.015984,40.715134,1,...,0.5,1.50,0.00,0.3,9.80,0.054810,0.000186,Meatpacking/West Village West,158.0,Manhattan
13158252,1,2015-05-21 19:53:12,2015-05-21 19:59:32,1,0.70,1,N,-73.996689,40.763180,2,...,0.5,0.00,0.00,0.3,7.80,0.031028,0.000056,Times Sq/Theatre District,230.0,Manhattan
13158253,1,2015-05-21 19:53:12,2015-05-21 19:56:39,1,0.50,1,N,-73.985039,40.720371,2,...,0.5,0.00,0.00,0.3,6.30,0.042625,0.000108,East Village,79.0,Manhattan
13158254,1,2015-05-21 19:53:12,2015-05-21 20:20:31,3,2.60,1,N,-73.990913,40.733913,1,...,0.5,2.00,0.00,0.3,21.30,0.034177,0.000041,Midtown North,163.0,Manhattan
13158255,1,2015-05-21 19:53:12,2015-05-21 20:05:40,1,2.90,1,N,-74.007217,40.741299,1,...,0.5,2.75,0.00,0.3,16.55,0.036661,0.000042,Battery Park,12.0,Manhattan
13158256,2,2015-05-21 19:53:12,2015-05-21 20:07:01,2,2.10,1,N,-73.984604,40.728783,1,...,0.5,2.56,0.00,0.3,15.36,0.046108,0.000116,Kips Bay,137.0,Manhattan
13158257,2,2015-05-21 19:53:12,2015-05-21 20:09:48,1,3.42,1,N,-73.983795,40.751007,1,...,0.5,3.16,0.00,0.3,18.96,0.063420,0.000167,TriBeCa/Civic Center,231.0,Manhattan
13158258,1,2015-05-21 19:53:13,2015-05-21 20:00:59,1,0.90,1,N,-73.973198,40.764046,2,...,0.5,0.00,0.00,0.3,8.30,0.031028,0.000056,Times Sq/Theatre District,230.0,Manhattan
13158259,2,2015-05-21 19:53:13,2015-05-21 19:58:08,1,0.90,1,N,-73.973709,40.752155,1,...,0.5,1.00,0.00,0.3,8.30,0.038041,0.000075,Gramercy,107.0,Manhattan
13158260,2,2015-05-21 19:53:13,2015-05-21 20:29:38,1,9.24,1,N,-74.014328,40.676208,1,...,0.5,0.00,0.00,0.3,32.30,0.035804,0.000072,Midtown Center,161.0,Manhattan
13158261,2,2015-05-21 19:53:13,2015-05-21 20:16:28,1,2.37,1,N,-73.999336,40.723236,1,...,0.5,1.00,0.00,0.3,18.80,0.024813,0.000037,Garment District,100.0,Manhattan

In [71]:
taxi_results3 = taxi_results2[taxi_results2.borough == 'Manhattan']

In [72]:
taxi_results3.to_csv('taxi_mn.csv', index=False)

In [74]:
uber_results = result[result.Borough == 'Manhattan']

In [75]:
uber_results.to_csv('uber_mn.csv', index=False)